ion-item {

  --padding-start: 5px;
  --inner-padding-end: 5px;

  ion-tumbnail {
    height: 100%;
    margin-inline-end: 5px;
  }

}

h1 {
  font-weight: bold;
  font-size: 0.8rem;
}

p {
   font-size: 0.7rem;
}
