<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Filmes Relacionados
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>

    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/3R3vZvsOm1fMChvotcOcEATg2Lk.jpg">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <div>
          <h1>The Falls</h1>
          <p>28/10/2003 (US)</p>
          <p>
            Em um mergulho assombroso, David conta sua história de obsessão, traição e assassinato, levando-o a um destino incerto "debaixo das Cataratas do Niágara"...
          </p>
        </div>
      </ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/jgGUTTo5AylBEkjnOfvT6iIFWQG.jpg">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <div>
          <h1>A Grande Muralha</h1>
          <p>30/05/1986 (US)</p>
          <p>
            Um programador de computador, Leo Fang, leva sua família sino-americana para a China Continental para visitar seus parentes, os Chao's, nas férias...
          </p>
        </div>
      </ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/RG1FymM76SBGiAUawPgVZeysRN.jpg">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <div>
          <h1>Rio de Janeiro, Brazil!</h1>
          <p>24/08/2014 (DE)</p>
          <p>
            "Rio de Janeiro, Brasil!" leva o espectador em uma viagem visual para uma das cidades mais bonitas e vibrantes do mundo...
          </p>
        </div>
      </ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/xJKchsih91c8hDtJcYXEGQctupv.jpg">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <div>
          <h1>Chichén Itzá: A Lenda da Caverna</h1>
          <p>14/01/2022 (BR)</p>
          <p>
            A lenda maia diz que há uma caverna subterrânea escondida abaixo de Chichén Itzá, agora arqueólogos de alta tecnologia estão aqui para encontrar a verdade enterrada...
          </p>
        </div>
      </ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/1tITHIABSujLjTHNvHmPWK8wYFR.jpg">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <div>
          <h1>Taj Mahal: An Eternal Love Story!</h1>
          <p>18/11/2005 (IN)</p>
          <p>
            A história de Shah Jahan, o amor de sua vida, a vida de seu amor... e seu monumento ao amor, o Taj Mahal...
          </p>
        </div>
      </ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/94RTWpZh5Eou17abEQ19GJAIRQ9.jpg">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <div>
          <h1>Segredos Do Coliseu</h1>
          <p>11/02/2015 (US)</p>
          <p>
            Um dos edifícios mais emblemáticos do mundo antigo, o Coliseu é um monumento ao poder imperial romano e à crueldade...
          </p>
        </div>
      </ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/sP39SR165WqOwHYjhFBeWaxR8wy.jpg">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <div>
          <h1>A Cidade Perdida de Machu Picchu</h1>
          <p>01/01/2019 (US)</p>
          <p>
            No alto dos Andes encontra-se Machu Picchu, uma cidade perdida com portas e passagens que aludem aos fantasmas do seu passado...
          </p>
        </div>
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>
