<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Monumentos Históricos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">

  <ion-card color="ligth">
    <ion-card-header>
      <ion-card-title>Muralha da China</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-img src="./assets/img/mchina.png"></ion-img>
        <p>
          É uma série de fortificações feitas de pedra, tijolo, terra compactada, madeira e outros materiais, geralmente construída ao longo de uma linha leste-oeste através das fronteiras históricas do norte da China.
        </p>
      <div>
        <ion-button href="https://chinavistos.com.br/muralha-da-china/" expand="block" color="danger">Saiba mais</ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card color="ligth">
    <ion-card-header>
      <ion-card-title>Cristo Redentor</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-img src="./assets/img/cristo.png"></ion-img>
        <p>
          É uma estátua art déco que retrata Jesus Cristo, localizada no topo do morro do Corcovado, a 709 metros acima do nível do mar, no Parque Nacional da Tijuca, com vista para a maior parte da cidade do Rio de Janeiro.
        </p>
      <div>
        <ion-button href="https://www.tremdocorcovado.rio/historia.html" expand="block" color="danger">Saiba mais</ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card color="ligth">
    <ion-card-header>
      <ion-card-title>Chichen Itza</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-img src="./assets/img/chichen.png"></ion-img>
        <p>
          Chichén Itzá foi uma grande cidade pré-colombiana construída pela civilização maia no final do período clássico. O sítio arqueológico está localizado no município de Tinum, no estado de Yucatán, México.
        </p>
      <div>
        <ion-button href="https://www.chichenitza.com/pt" expand="block" color="danger">Saiba mais</ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card color="ligth">
    <ion-card-header>
      <ion-card-title>Taj Mahal</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-img src="./assets/img/taj.png"></ion-img>
        <p>
          O Taj Mahal é um mausoléu situado em Agra, na Índia, sendo o mais conhecido dos monumentos do país. Encontra-se classificado pela UNESCO como Patrimônio da Humanidade. Foi anunciado em 2007 como uma das sete maravilhas do mundo moderno.
        </p>
      <div>
        <ion-button href="https://tajmahal.gov.in/" expand="block" color="danger">Saiba mais</ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card color="ligth">
    <ion-card-header>
      <ion-card-title>Cataratas do Iguaçu</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-img src="./assets/img/cataratas.png"></ion-img>
        <p>
          Cataratas do Iguaçu é um conjunto de cerca de 275 quedas de água no rio Iguaçu (na Bacia hidrográfica do rio Paraná), localizada entre o Parque Nacional do Iguaçu, Paraná, no Brasil, e o Parque Nacional Iguazú em Misiones, na Argentina, na fronteira entre os dois países.
        </p>
      <div>
        <ion-button href="https://cataratasdoiguacu.com.br/" expand="block" color="danger">Saiba mais</ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card color="ligth">
    <ion-card-header>
      <ion-card-title>Coliseu</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-img src="./assets/img/coliseu.png"></ion-img>
        <p>
          Coliseu, também conhecido como Anfiteatro Flaviano, é um anfiteatro oval localizado no centro da cidade de Roma, capital da Itália. Construído com tijolos revestidos de argamassa e areia, e originalmente cobertos com travertino é o maior anfiteatro já construído e está situado a leste do Fórum Romano.
        </p>
      <div>
        <ion-button href="https://www.il-colosseo.it/" expand="block" color="danger">Saiba mais</ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card color="ligth">
    <ion-card-header>
      <ion-card-title>Machu Picchu</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-img src="./assets/img/machu.png"></ion-img>
        <p>
          Huayna Picchu ou Machu Picchu (em quíchua Machu Picchu, "velha montanha"), também chamada "cidade perdida dos Incas", é uma cidade pré-colombiana bem conservada, localizada no topo de uma montanha, a 2 400 metros de altitude, no vale do rio Urubamba, atual Peru.
        </p>
      <div>
        <ion-button href="https://pisa.tur.br/blog/machu-picchu-informacoes/" expand="block" color="danger">Saiba mais</ion-button>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>
